.calculator {
  display: grid;
  grid-template-rows: 16.66vh 83.3vh;
}

.display {
  background-color: gray;
  text-align: end;
}

#display {
  color: white;
  font-size: 8vw;
  margin: 0;
}

.orange-background {
  background-color: orange;
  border: none;
  border: 2px solid rgb(245, 240, 240);
  box-shadow: 1px 1px white;
  font-size: 4vw;
}

.white-background {
  background-color: white;
  border: 2px solid lightgray;
  font-size: 4vw;
}

.all-button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.white-background0 {
  background-color: white;
  border: 2px solid lightgray;
  font-size: 4vw;
  grid-column: 1 / 3;
}
